back/ProjectA4/pyvenv.cfg
back/ProjectA4/Scripts/activate
back/ProjectA4/Scripts/activate.bat
back/ProjectA4/Scripts/Activate.ps1
back/ProjectA4/Scripts/deactivate.bat
back/ProjectA4/Scripts/f2py.exe
back/ProjectA4/Scripts/flask.exe
back/ProjectA4/Scripts/fonttools.exe
back/ProjectA4/Scripts/normalizer.exe
back/ProjectA4/Scripts/pip.exe
back/ProjectA4/Scripts/pip3.10.exe
back/ProjectA4/Scripts/pip3.exe
back/ProjectA4/Scripts/pyftmerge.exe
back/ProjectA4/Scripts/pyftsubset.exe
back/ProjectA4/Scripts/python.exe
back/ProjectA4/Scripts/pythonw.exe
back/ProjectA4/Scripts/ttx.exe
back/ProjectA4/share/man/man1/ttx.1
